In [2]:
import MySQLdb

In [3]:
conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")

In [26]:
my_head = "SYSTEM PROGRAMMING"
#query = "SELECT course_name FROM course where course_name LIKE '{}%';".format(my_head)
query = "SELECT * FROM course"
cursor = conn.cursor()
cursor.execute(query)

results = cursor.fetchall()
for i in range(len(results[0])):
    print(results[0][i])
    
conn.close()

0
DATABASE SYSTEMS
Department of Information Engineering and Computer Science
This course introduces the fundamental concepts and structures of databases, including database system concepts and architecture, Entity-Relationship Model, primary file organizations, index structures, relational data models. SQL, converting ER model to relational schema, and normalization.
3

In [38]:
#create table
conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")
cur = conn.cursor()
cur.execute("""CREATE TABLE student(ID int NOT NULL UNIQUE,
                                    name varchar(20) NOT NULL,
                                    department varchar(30),
                                    sex varchar(10),
                                    tot_credits int)""")
conn.close()

OperationalError: (1050, "Table 'student' already exists")

In [47]:
#create table(course)
conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")
cur = conn.cursor()
cur.execute("""CREATE TABLE course(courseID int NOT NULL UNIQUE,
                                   coursename varchar(50) NOT NULL,
                                   department varchar(100),
                                   credits int)""")
conn.close()

In [50]:
#create table(user)
conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")
cur = conn.cursor()
cur.execute("""CREATE TABLE user(id int not null auto_increment,
                                 name varchar(20) not null, 
                                 email varchar(20) not null, 
                                 password char(80) not null, 
                                 primary key (id))""")
#create table users ( id int not null auto_increment, name varchar(20) not null, email varchar(20) not null, password char(80) not null, primary key (id) );
conn.close()

In [34]:
#insert data into table
#if you want to insert somthing into table, don't forget conn.commit()
#then you can insert successively

conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")
cur = conn.cursor()
cur.execute("""INSERT INTO student(ID, name, department, sex, tot_credits)
               VALUES('0001',
                      'Wendy',
                      'Information Engineering and Computer Science',
                      'female',
                      '0')""")
conn.commit()
conn.close()

In [49]:
conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")
cur = conn.cursor()
cur.execute("""INSERT INTO course(courseID, coursename, department, credits)
               VALUES('1001',
                      'DATABASE SYSTEMS',
                      'Department of Information Engineering and Computer Science',
                      '3')""")
cur.execute("""INSERT INTO course(courseID, coursename, department, credits)
               VALUES('1002',
                      'PROBABILITY AND STATISTICS',
                      'Department of Information Engineering and Computer Science',
                      '3')""")
conn.commit()
conn.close()

In [46]:
#delete table
conn = MySQLdb.connect(host="127.0.0.1",
                       user="hj",
                       passwd="test1234",
                       db="testdb")
cur = conn.cursor()
cur.execute("DROP TABLE course")
conn.close()